#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

@media only screen{
.nomap{
  
    transition-duration: 500ms;
}
.btc{
  
  transition-duration: 500ms;
}
.email{
  
  transition-duration: 500ms;
}
.pais{
  
  transition-duration: 500ms;
}
.nomap:hover{
  color:#3444f7;
  transform: scale(1.1, 1.1);
  transform: rotate(360deg);
}
.btc:hover{
  color:#34f788;
  transform: scale(1.2, 1.2);
  transform: rotate(5deg);
}
.email:hover{
  color:#34f788;
  transform: scale(1.1, 1.1);
}
.pais:hover{
  color:#34f788;
  transform: scale(1.1, 1.1);
  transform: rotateY(360deg);
}
}