<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col *ngFor= "let variable of variables | async" size-xl="2" size-lg="2" size-md="4" size-sm="6">
        <ion-card>
          <ion-card-content>
            
            <h1 class= "nomap">{{ variable.nombre }} {{ variable.apellido }}</h1>
            <h4>Bitcoin : {{ variable.bitcoin }}</h4>
            <h4>Email : {{ variable.email }}</h4>
            <h4>Pais : {{ variable.pais }}</h4>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
